body {
    text-align: center;
    color: #333;
    margin: 0;
    font-family: 'Agency FB';
    background: #998;
}

.cabecera{
    padding: 1em;
    background: #056;
    color: white;
    text-align: left;
    font-weight: bold;
}

.imagen{
    width: 30px;
    vertical-align: middle;
}

.cabecera .tagline{
    font-weight: normal;
    margin: 0 0 0 1em;
    font-size: 0.8rem;
}

.container {
    width: 70%;
    border: 1px solid #998;
    margin: 0 auto;
    text-align: left;
    background: white;
}

.post{
    margin-left: 1em;
}

.footer {
    background: #056;
    color: white;
    text-align: center;
    padding: 0.5em;
}